<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FCAI_Airport.Properties.Settings.Airport_SystemConnectionString"
            connectionString="Data Source=LAP-OF-THRONES\SQLSERVER;Initial Catalog=Airport_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>